@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}
.flex-container{
    display: flex;
}
.flex-container{
    flex: auto;
}
.left-div{
    height: 100vh;
    width: 40vb;
    min-width: 20vb;
    background-image: url('left-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
}
.logo-div{
    height: auto;
    position: relative;
    top: 20vh;
    padding: 15px 0;
    background-color: #000000b4;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    display: flex;
}
.odin-logo{
    height: 10vh;
}
.logo-div > h1{
    font-family: Norse;
    font-size: 80px;
}
.left-link{
    color:white;
}

.right-div{
    flex-direction: column;
}
.header-div{
    background-color: #dddddd;
    padding: 100px 100px 100px 100px;
    font-size: 20px;
    font-weight: bold;
}
.form-container{
    display: flex;
    gap: 80px;
}
fieldset{
    padding-left: 100px;
    border: none;
    box-shadow: 2px 3px 2px grey;
    margin-bottom: 10px;
}
input{
    border: #E5E7EB solid 2px;
}
input:focus{
    border: blue solid 1px;
    box-shadow: black;
}
.left-col, .right-col{
    justify-content: space-between;
}
.account-button{
    padding: 10px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #596D48;
    color:white;
}
.login-link{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}
.footer-div{
    padding-left: 100px;
}
.error-text{
    color:red;
}
.error-field{
    border: red solid 1px;
}